body {
    background-color: #003366;
    color: #fff;
}
header {
    color: #fff;
    padding: 10px;
    text-align: center;
}

header li {
    display: inline;
    margin: 0 10px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #f00;
}

header nav {
    flex: content;
    justify-content: end;
}
.titulo:hover {
    background-color: #6699FF;
}
.logo {
    width: 2%;
    border-radius: 50%;
    margin-right: 10px;
}

.logo:hover {
    transform: scale(1.1);
}

.texto_logo {
    flex: content;
    position: absolute;
    margin-top: 0.5em;
}

.caja_contacto {
    margin: 1%;
}