body {
    background-color: #003366;
    color: #fff;
}
header {
    color: #fff;
    padding: 10px;
    text-align: center;
}

header li {
    display: inline;
    margin: 0 10px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #f00;
}

header nav {
    flex: content;
    justify-content: end;
}