:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #b5e4f7;
    --secundario: #0464a4;
    --gris: #757575;
    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/* Menu de navegación */
.navegacion-principal {
    display: flex;
    /* Menú horizontal */
    flex-direction: row;
    /* Espacio entre elementos */
    justify-content: space-between;
}

.nav-bg {
    background-color: var(--secundario);
    width: 100%;
}

.navegacion-principal a {
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

#entrada {
    position: relative; /* Para que el contenido no se salga */
    text-align: center;
    color: var(--blanco);
    padding: 5%;
}

#entrada::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/hero.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    filter: brightness(0.5); /* Opacidad */
    z-index: -1; /* Detrás de todo */
}

/* Botón */
.boton {
    display: inline-block;
    background-color: var(--secundario); /* Color */
    color: var(--blanco);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none; /* Quitar subrayado */
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer; /* Cambiar cursor */
    margin-left: 1rem;
    border: none; /* Quitar borde */
}

/* Efecto hover */
.boton:hover {
    background-color: var(--primario);
}

/* Sección central */
#central {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#central section {
    padding-right: 4%;
    padding-left: 4%;
}

/* Forma circular */
#central svg {
    background-color: var(--primario);
    padding: 8%;
    border-radius: 50%;
}

#central p {
    text-align: justify;
}

.subtitulo {
    color: var(--secundario);
    font-weight: 100;
}

/* Formulario */
.formulario {
    width: 25%;
    margin: 0 auto;
    background-color: var(--gris);
    border-radius: 5px;
    padding: 1%;
}

.formulario fieldset {
    border: none;
}

/* Leyenda */
.formulario legend {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primario);
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
}

/* Mostrar los campos con espacios */
.contenedor_campos {
    display: flex;
    justify-content: space-between;
}

/* Campo */
.campo {
    width: 100%;
    margin-bottom: 1.5rem;
}

/* Etiqueta del campo */
.campo label {
    font-weight: bold;
    color: var(--blanco);
    font-size: 1.5rem;
    text-align: left;
}

/* Alinear los campos */
.campos_alineados {
    display: flex;
    justify-content: space-between;
}

/* Input text */
input.input-text {
    width: 100%;
    padding: 7%;
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid var(--gris-oscuro);
    font-size: 1.2rem;
    box-sizing: border-box;
}

/* Input del correo */
input.input-textcorreo {
    width: 100%;
    padding: 3%;
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid var(--gris-oscuro);
    font-size: 1.2rem;
    box-sizing: border-box;
}

/* Textarea */
textarea.input-text {
    width: 100%;
    padding: 3%;
    padding-bottom: 20%;
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid var(--gris-oscuro);
    font-size: 1.2rem;
    box-sizing: border-box;
}

/* Espaciado entre campos */
.campos_alineados .campo:first-child {
    margin-right: 3rem;
}

/* Espaciado entre campos */
.campos_alineados .campo:last-child {
    margin-left: 3rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
    margin-left: 20rem;
}

/* Contenedor principal */
.contenedor-principal {
    background-color: var(--blanco);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    width: 90%;
    background-color: var(--gris-claro);
}

/* Footer */
footer {
    text-align: center;
}